
    <div class="page-content mdl-grid">
        <div *ngIf="user" class="user-card-wide mdl-card mdl-shadow--16dp mdl-cell--12-col">
          <div class="mdl-card__title mdl-color--teal-300">
             <img class="user-detail-avatar" src="assets/img/users/user-{{user.id}}.jpg">
            <h3>{{user.name}}</h3>
          </div>
          <div class="mdl-card__supporting-text mdl-grid user-detail-row">
            <div class="mdl-cell--12-col"><i class="material-icons">email</i><span>{{user.mail}}</span></div>
            <div class="mdl-cell--12-col"><i class="material-icons">phone</i><span>{{user.phone}}</span></div>
            <div class="mdl-cell--12-col"><i class="material-icons">room</i> <span>{{user.adress}}</span></div>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" 
               href="https://samerabdelkafi.wordpress.com/2016/10/21/develop-a-web-application-with-angular2" 
               target="_blank">
              Get Started
            </a>
          </div>
          <div class="mdl-card__menu">
            <button (click)="gotoUsers()" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
              <i class="material-icons">close</i>
            </button>
          </div>
        </div>
    </div>